@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");

:root {
  --background: #C98540;
  --foreground: #171717;
  --primary-100: #E8A968;
  --primary-200: #C98540;
  --primary-300: #A66F2E;
  --secondary-100: #A087A6;
  --secondary-200: #7B4282;
  --secondary-300: #5D3361;
  --neutral-100: #B5B8BA;
  --neutral-200: #95989A;
  --neutral-300: #75787A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --font-sans: "Cairo", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Cairo", sans-serif !important;
  direction: rtl;
}

* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
button {
  font-family: "Cairo", sans-serif !important;
}
